body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#home {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    nav ul li {
        display: inline;
        margin: 0 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
}


.text-left-container {
    text-align: left;
    max-width: 500px; /* Adjust the width as needed */
    color: #333;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#text1 {
    opacity: 0.7;
    padding-bottom: 20px;
}
h2 {
    color: white;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
h4 {
    padding-left: 10px;
    margin-top: 10px;
    border-left: 4px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#featureimg{
    justify-content: center;
}
#mentalWellnessCarousel {
    margin: 0 auto;
    max-width: 700px; /* Adjust this value as needed */
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mentalWellnessCarousel img.fixed-height {
    object-fit: contain;
    justify-content: center;
    height: 400px;

}
#ArtsCornerCarousel {
    margin: 0 auto;
    max-width: 700px; /* Adjust this value as needed */
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#ArtsCornerCarousel img.fixed-height {
        object-fit: contain;
        justify-content: center;
        height: 400px;
}

#mentalWellnessCarousel .carousel-control-prev-icon,
#mentalWellnessCarousel .carousel-control-next-icon {
    background-color: transparent; /* Ensure the background is transparent */
    width: 40px;
    height: 40px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

#mentalWellnessCarousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3e%3cpath d="M2.5 0l.5.5-2.5 2.5 2.5 2.5-.5.5-3-3 3-3z" transform="translate(0 1)" /%3e%3c/svg%3e');
}

#mentalWellnessCarousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3e%3cpath d="M5.5 0l-.5.5 2.5 2.5-2.5 2.5.5.5 3-3-3-3z" transform="translate(0 1)" /%3e%3c/svg%3e');
}

#ArtsCornerCarousel .carousel-control-prev-icon,
#ArtsCornerCarousel .carousel-control-next-icon {
    background-color: transparent; /* Ensure the background is transparent */
    width: 40px;
    height: 40px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

#ArtsCornerCarousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3e%3cpath d="M2.5 0l.5.5-2.5 2.5 2.5 2.5-.5.5-3-3 3-3z" transform="translate(0 1)" /%3e%3c/svg%3e');
}

#ArtsCornerCarousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3e%3cpath d="M5.5 0l-.5.5 2.5 2.5-2.5 2.5.5.5 3-3-3-3z" transform="translate(0 1)" /%3e%3c/svg%3e');
}


hr {
    border: 1px solid #333; /* Customize the color and thickness */
    margin-top: 40px; /* Optional: adjust the spacing */
    margin-bottom: 40px; /* Optional: adjust the spacing */
    opacity: 0.9;

}
.event, .activity {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

    .event:last-child, .activity:last-child {
        border-bottom: none;
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: inherit;
    bottom: 0;
    width: 100%;
}
#TOPCarou img {
    height: 100vh; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
.card-img-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: inherit ; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow to ensure the image fits nicely */
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-img-container img {
        width: 80%; /* Adjust the width as needed */
        height: auto;
        object-fit: cover;
}
.slide-in {
    animation: slideInRight 1s ease-out;
}